name: Build wheels

on:
  # on new tag
  push:
    tags:
      - "*"

  # manually trigger
  workflow_dispatch:

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v5

      # Used to host cibuildwheel
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      # - name: Show Python Version and go to ./python dir
      #   run: |
      #     python --version
      #     ls
      #     cd ./python
      #     ls

      # - name: Set MacOS compiler
      #   if: runner.os == 'macOS'
      #   run: |
      #     MACOSX_DEPLOYMENT_TARGET=15.0
      #     brew install gcc@13;
      #     echo "CXX=gcc-13" >> $GITHUB_ENV
      #     echo $MACOSX_DEPLOYMENT_TARGET

      # - name: Set macOS deployment target
      #   if: runner.os == 'macOS'
      #   run: echo "MACOSX_DEPLOYMENT_TARGET=$(sw_vers -productVersion | cut -d '.' -f 1-2)" >> $GITHUB_ENV

      # - name: Check macOS deployment target
      #   if: runner.os == 'macOS'
      #   run: echo "Deployment target version is ${{ env.MACOSX_DEPLOYMENT_TARGET }} / ${MACOSX_DEPLOYMENT_TARGET}"

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==3.3.0

      - name: Build wheels
        run: cd python ; python -m cibuildwheel --output-dir wheelhouse
        env:
          # don't build for PyPython and windows 32-bit
          CIBW_SKIP: pp* *win32*
          # # force compiler on macOS
          # CXX: ${{ env.CXX }}
          # CC: ${{ env.CXX }}

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl



# jobs:
#   build_wheels:
#     name: Build wheels on ${{ matrix.os }}
#     runs-on: ${{ matrix.os }}
#     strategy:
#       matrix:
#         os: [windows-latest, macos-latest]

#     steps:
#       - uses: actions/checkout@v5

#       - name: Set MacOS compiler
#         if: runner.os == 'macOS'
#         run: |
#           brew install gcc@13;
#           echo "CXX=gcc-13" >> $GITHUB_ENV

#       # Used to host cibuildwheel
#       - uses: actions/setup-python@v5

#       - name: Install cibuildwheel
#         run: python -m pip install cibuildwheel==2.20.0

#       - name: Build wheels
#         uses: pypa/cibuildwheel@v2.20.0
#         env:
#           # don't build for PyPython and windows 32-bit
#           CIBW_SKIP: pp* *win32*
#           # force compiler on macOS
#           CXX: ${{ env.CXX }}
#           CC: ${{ env.CXX }}
#         with:
#           package-dir: ./python
#           output-dir: ./python/wheelhouse

#       - uses: actions/upload-artifact@v4
#         with:
#           name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
#           path: ./python/wheelhouse/*.whl

# jobs:
#   build_wheels:
#     name: Build wheels on ${{ matrix.os }}
#     runs-on: ${{ matrix.os }}
#     strategy:
#       matrix:
#         os: [windows-latest, macos-latest]

#     steps:
#       - uses: actions/checkout@v2

#       - name: Set MacOS compiler
#         if: runner.os == 'macOS'
#         run: |
#           brew install gcc@13;
#           echo "CXX=gcc-13" >> $GITHUB_ENV

#       - name: Build wheels
#         uses: pypa/cibuildwheel@v3.3.0
#         env:
#           # don't build for PyPython and windows 32-bit
#           CIBW_SKIP: pp* *win32*
#           # force compiler on macOS
#           CXX: ${{ env.CXX }}
#           CC: ${{ env.CXX }}
#         with:
#           package-dir: ./python
#           output-dir: ./python/wheelhouse

#       - name: Upload a Build Artifact
#         uses: actions/upload-artifact@v4
#         with:
#           name: wheels-${{ matrix.os }}
#           path: ./python/wheelhouse
